{% extends 'base.html' %}
{% block title %}朱文甫--版权所有{% endblock %}
{% block page_title %}
    <h2 style="text-align: center">欢迎 </h2>
    <h3 style="text-align: center">这是作者详情页</h3>
{% endblock %}
{% block body %}
    <p style="text-align: center">朱文甫 版权所有 联系方式：18365051200</p>
    <p style="text-align: center">谨以此纪念我开发的第一个小项目。</p>
    <p style="text-align: center">开发这样一个外观简陋，功能简单的系统,对于我来说，背后过程算得上艰辛。</p>
    <p style="text-align: center">一个前端属性的理解不到位，就可能导致整个页面的扭曲</p>
    <p style="text-align: center">一个属性名或者变量作用域的不清晰，就可能导致大规模的逻辑错误。</p>
    <p style="text-align: center">感谢老师的教导和同学的帮助</p>
    <p style="text-align: center">革命尚未成功，同志仍需努力</p>
{% endblock %}